@charset "UTF-8";

/* Estilos globais */
.container {
  padding: 10px 0 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Estilos para o ícone de WhatsApp */
.icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e675;
  color: #FFF;
  border-radius: 50%;
  padding: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbd;
}


header .search-bar input {
  padding: 10px;
  border: 1px solid #ccccccab;
  border-radius: 50px;
  width: 400px;
}

/* Media queries */
@media screen and (min-width: 390px) {
  .container {
    background-color: coral;
    height: 135px;
  }

  #burguer {
    font-size: 54px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: paleturquoise;
    height: 160.33px;
  }

  #burguer {
    font-size: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-color: white;
    height: 130.98px;
  }

  #burguer {
    display: none;
  }

  #menu > ul {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  #menu > ul > li {
    font-size: 25px;
  }

  .menu-topo {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-topo ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 20px;
  }

  .menu-topo li {
    margin: 0 15px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    background-color: white;
    height: 134.53px;
  }

  #burguer {
    display: none;
  }

  #menu > ul {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 54px;
  }

  .menu-topo ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 20px;
  }

  .menu-topo li {
    margin: 0 15px;
  }
  header .logo img {
    display: block;
    position: absolute;
    left: 235px;
    top: -20px;
    width: 188px;
    height: 173px;
  }
  .nome h1 {
    display: block;
    position: absolute;
    left: 410px;
    top: 26px;
    color: #d0525c;
  }

  .search-bar {
    display: block;
    position: absolute;
    left: 750px;
    top: 56px;
  }


  header .search-bar button {
    display: block;
    position: absolute;
    left: 440px;
    top: 5px;
    background-color: transparent;
    border: none;
  }

  .search-bar  button i {
      color: #d42332;
      font-size: 22px;
      margin-left: 20px;
      background-color: transparent;
  }


}
