@charset "UTF-8";

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 10px 0 0 0;
}

/* Estilos para o ícone de WhatsApp */
.icon {
  position: fixed;
  bottom: 60px;
  right: 30px;
  font-size: 30px;
  background-color: #01e675;
  color: #FFF;
  border-radius: 50%;
  padding: 3px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  z-index: 100;
  box-shadow: 2px 2px 2px #c0bdbd;
}

/* Media queries */
@media screen and (min-width: 390px) {
  .container {
    background-color: coral;
    height: 135px;
  }

  #burguer {
    font-size: 54px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    background-color: paleturquoise;
    height: 160.33px;
  }

  #burguer {
    font-size: 70px;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    background-color: white;
    height: 136.98px;
  }

  #burguer {
    display: none;
  }

  #menu > ul {
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
  }

  .menu-topo {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-topo ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 20px;
  }

  .menu-topo li {
    margin: 0 15px;
  }

  header .logo img {
    display: block;
    position: absolute;
    left: 231px;
    top: 0px;
    width: 127px;
    height: 127px;
  }

  .nome h1 {
    display: block;
    position: absolute;
    left: 346px;
    top: 35px;
    font-size: 20px;
    color: #d0525c;
  }

  .search-bar {
    display: block;
    position: absolute;
    left: 400px;
    top: 56px;
  }

  header .search-bar button {
    display: block;
    position: absolute;
    left: 560px;
    top: 15px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #d42332;
  }

  header .search-bar input {
    border: 1px solid #ccccccab;
    border-radius: 50px;
    display: block;
    position: absolute;
    left: 200px;
    top: 15px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    background-color: white;
    height: 136.53px;
  }

  #burguer {
    display: none;
  }

  #menu > ul {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
  }

  .menu-topo ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 20px;
  }

  .menu-topo li {
    margin: 0 15px;
  }

  header .logo img {
    display: block;
    position: absolute;
    left: 235px;
    top: -20px;
    width: 188px;
    height: 173px;
  }

  .nome h1 {
    display: block;
    position: absolute;
    left: 410px;
    top: 26px;
    color: #d0525c;
    font-size: 24px;
  }

  .search-bar {
    display: block;
    position: absolute;
    left: 750px;
    top: 56px;
    padding: 10px;
  }
  .btn-icones {
    display: flex;
    align-items: center;
}

  header .btn-icones button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #d42332;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    margin-bottom: 610px; /*Altura dos icones*/
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona uma transição suave para a transformação e para o box-shadow */

  }

  .btn-icones button:hover {
    transform: scale(1.05); /* Aumenta a escala em 10% quando o mouse passar por cima */
    box-shadow: 0 0 10px rgba(252, 11, 111, 0.452); /* Adiciona um efeito de brilho */
  }

  header .btn-icones button i {
    vertical-align: middle;
    color: #ffffff;      
  }

}
