/*SLIDE*/

section.slider{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width: 100%;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 35%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #f87f89;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: #f87f89;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4{
  background-color: #f87f89;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

#radio4:checked ~ .primeiro{
  margin-left: -75%;
}

@media screen and (max-width: 900px) {
  .img-desktop{
      display: none;
  }

  .img-mobile{
      display: block;
  }

  .nav-auto, .nav-manual{
      margin-top: 60%;
  }
}

/*Novidade*/

.novidades {
  padding: 40px 4%;
  margin-top: -390px !important; 
}

.txt-novidades {
  text-align: center;
  padding: 5px 4%; 
  font-size: 30px;
  color:  #d42332;
  margin-top: 200px; 
  top: 50%; 
  left: 50%; 
  transform: translate(0%, -120%);
  border-bottom: 2px solid #d42332;
}

.box .img-img {
  max-width: 100%; 
  display: block; 
  margin: 0 auto;
  height: auto; 
  border-radius: 20px;
}

.container-novidades {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
  gap: 20px;
  margin-top: -20px;
}

.btn-novidades {
  display: inline-block;
  
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-color:4px solid #d42332;
}

.btn-novidades:hover {
  background-color: #d42332; 
  color: aliceblue;
}

.novidades .box img{
  max-width: 200px; /* Tamanho da imagem */
  height: auto;
  cursor: pointer;
}


.novidades h2{
  color: #d42332;
}

.container-novidades .box h3 {
  margin-top: 10px; /*Texto distanciado da imagem */
}


.container-novidades .box {
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: 0 0 8px rgba(255, 176, 6, 0.144);
  cursor: pointer;
  transition: .2s;
  outline: var(--outline);
  border: 2px solid #f5b4b9; 
  border-radius: 8px; 
}


.container-novidades .btn-novidades {
  border: 1px solid #d42332; 
  border-radius: 8px; 
  padding: 10px; 
}

.container-novidades .box:hover {
  transform: scale(1.03); 
}

.container-novidades .box i{
  font-size: 18px;
}

/*MAIS VENDIDOS*/

.produto {
  padding: 40px 4%;
  margin-top: -150px; 
}

.txt-produto{
  text-align: center;
  padding: 5px 4%; 
  font-size: 30px;
  color:  #d42332;;
  margin-top: 200px; 
  top: 50%; 
  left: 50%; 
  transform: translate(0%, -120%);
  border-bottom: 2px solid #d42332;
}

.box .img-img {
  max-width: 100%; 
  display: block; 
  margin: 0 auto;
  height: auto; 
  border-radius: 20px;
}

.container-produto{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
  gap: 20px;
  margin-top: -20px;
}

.btn-produto {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-color:4px solid #d42332;
}


.btn-produto:hover {
  background-color: #d42332; 
  color: aliceblue;
}

.produto .box img{
  max-width: 200px; 
  height: auto;
  cursor: pointer;
}


.produto h2{
  color: #d42332;
}

.container-produto .box h3 {
  margin-top: 10px; 
}


.container-produto .box {
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: 0 0 8px rgba(255, 176, 6, 0.144);
  cursor: pointer;
  transition: .2s;
  outline: var(--outline);
  border: 2px solid #f5b4b9; 
  border-radius: 8px; 
}


.container-produto .btn-produto {
  border: 1px solid #d42332; 
  border-radius: 8px; 
  padding: 10px; 
}

.container-produto .box:hover {
  transform: scale(1.03); 
}

.container-produto .box i{
  font-size: 18px;
}


/*ROSA*/

.rosa {
  padding: 40px 4%;
  margin-top: -150px; 
}

.txt-rosa{
  text-align: center;
  padding: 5px 4%;
  font-size: 30px;
  color:  #d42332;;
  margin-top: 200px;
  top: 50%; 
  left: 50%; 
  transform: translate(0%, -120%);
  border-bottom: 2px solid #d42332;
}

.box .img-img {
  max-width: 100%; 
  display: block; 
  margin: 0 auto;
  height: auto; 
  border-radius: 20px;
}

.container-rosa{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); 
  gap: 20px;
  margin-top: -20px;
}

.btn-rosa {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-color:4px solid #d42332;
}


.btn-rosa:hover {
  background-color: #d42332; 
  color: aliceblue;
}

.rosa .box img{
  max-width: 200px; 
  height: auto;
  cursor: pointer;
}

.rosa h2{
  color: #d42332;
}

.container-rosa .box h3 {
  margin-top: 10px;
}

.container-rosa .box {
  background-color: #fff;
  padding: 3rem 2rem;
  box-shadow: 0 0 8px rgba(255, 176, 6, 0.144);
  cursor: pointer;
  transition: .2s;
  outline: var(--outline);
  border: 2px solid #f5b4b9; 
  border-radius: 8px; 
}

.container-rosa .btn-rosa {
  border: 1px solid #d42332; 
  border-radius: 8px; 
  padding: 10px; 
}

.container-rosa .box:hover {
  transform: scale(1.03); 
}

.container-rosa .box i{
  font-size: 18px;
}

/*DEPOIMENTOS*/

.depoimentos {
  margin-top: 900px;
  margin: 0 auto;
  max-width: 980px;
  padding-top: -400px; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.dep-box {
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 15px; 
  margin-bottom: 20px; 
  max-width: 300px; 
  height: 450px;
}

.txt-rosa-dep {
  margin-bottom: -20px; 
  text-align: center;
  padding: 5px 4%;
  font-size: 30px;
  color: #d42332;
  margin-top: 100px; 
  top: 50%; 
  left: 50%; 
  transform: translate(0%, -120%);
  border-bottom: 2px solid #d42332;
  
  
}

.dep-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px; 
  text-align: center;
}

.dep-text img {
  width: 150px;
  height: auto;
  margin-bottom: -50px;
}

.dep-text .person {
  margin-bottom: 5px;
}

.dep-text h3 {
  font-weight: 600;
  margin-bottom: -5px;
}

.dep-text .stars {
  color: #fdc427;
  margin-bottom: 5px;
  font-size: 20px;
}

.dep-text p {
  font-size: 16px;
  font-weight: 300;
}

/*RODAPÉ*/

footer {
  background-color: #eaece5;
  padding: 40px 0;
  
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px; 
}

.logo img {
  width: 150px; 
  height: auto; 
  margin-left: 0; 
  margin-right: 10px; 
}

.nome-rodape {
  margin-left: -30px;
  margin-bottom: -10px;
  color: #d42332;
  font-size: 14px;
}


h1 {
  margin: 0;
}


.rodape .container button  {
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  font-size: 25px;
  margin: 8px; 
}

.container button:hover {
  color: #d42332;
}

.redes-sociais {
  text-align: center;
  color: #090e0a;
  margin-left: 800px;
  margin-top: -175px;
  flex-basis: 30%; 
  cursor: pointer;
}

.redes-sociais p{
  padding: 3%;
  font-size: 14px;
}

.pagamentos{
  text-align: justify;
  color: #090e0a;
  margin-right: 800px;
  margin-top: 4px;
  margin-left: 129px;
  flex-basis: 30%; 
  flex-direction: column; 
  display: flex;
  cursor: pointer;
}

.pagamentos p{
  font-size: 14PX;
}

.pagamentos i{
  cursor: pointer;
}

.redes-sociais i{
  cursor: pointer;
}


.fale-conosco{
  text-align: center;
  color: #090e0a;
  margin-left: 450px;
  margin-top: -175px;
  flex-basis: 30%; 
  cursor: pointer;
  display: flex;
  flex-direction: column; 
  text-align: center;
  
}

.fale-conosco i{
   text-align: justify; 
   cursor: pointer;
}

.fale-conosco a{
  text-decoration: none; 
  color: #090e0a; 
  text-align: center;
}

.pagamentos a {
  text-decoration: none; 
  color: #090e0a; 
}


h2 {
  margin-bottom: 10px;
}

.redes-sociais p {
  margin: 0;
}


/*Reposnividade*/

@media screen and (max-width: 480px){

  /*Cabeçalho*/
  .menu-topo ul, .categoria-barra, .search-bar, .btn-icones{
      display: none;
  }

  /*Nome Site*/
  header .nome h1  {
      font-size: 20px;
  }
  img {
      width: 100%;
      height: 400px;
  }
}
